{% extends "commonbasehotel.html" %}
{% block content4 %}









    <!-- contact page -->
    <section class="w3l-contact-11 py-5" id="contact">
        <div class="container py-md-5 py-5">
            <div class="row justify-content-center text-center">
                <div class="col-md-8">
                    <div class="section-heading mb-sm-5 mb-4">
                        <h3 class="title-style mb-2">ADD DISHES</h3>
                        
                    </div>
                </div>
            </div>


            <!-- <div class="d-grid contact section-gap">
                <div class="contact-info-left d-grid text-center">
                    <div class="contact-info">
                        <span class="fa fa-map-marker" aria-hidden="true"></span>
                        <h4>Location</h4>
                        <p>Dolor sit, #PTH,8800 Honey Street UK.</p>
                    </div>
                    <div class="contact-info">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                        <h4>Phone</h4>
                        <p><a href="tel:+44 7834 857829">+22 123 984 434</a></p>
                        <p><a href="tel:+44 987 654 321">+44 123 984 439</a></p>
                    </div>
                    <div class="contact-info">
                        <span class="fa fa-envelope" aria-hidden="true"></span>
                        <h4>Email</h4>
                        <p><a href="mailto:mail@example.com" class="email">mail@example.com</a></p>
                        <p><a href="mailto:mail@example1.com" class="email">mail@example1.com</a></p>
                    </div>
                    <div class="contact-info">
                        <span class="fa fa-clock-o" aria-hidden="true"></span>
                        <h4>Working Hours</h4>
                        <p>Wednesday - Sunday</p>
                        <p>7:00 AM - 9:00 PM</p>
                    </div>
                </div>
            </div> -->




            <div class="form-41-mian mt-5 pt-lg-5 pt-md-4">
                <div class="container">
                    <div class="form-inner-cont">
                        <form  method="post" class="signin-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row align-form-map">
                                <div class="col-sm-6 form-input">
                                    <label for="w3lName">Dish name</label>
                                    <input type="text" name="dname" id="w3lName"  required placeholder="" />
                                </div>
                                <div class="col-sm-6 form-input">
                                    <label for="w3lSender">Image</label>
                                    <input type="file" name="img" placeholder=""  required class="contact-input">
                                    
                                </div>

                                
                                <div class="col-sm-6 form-input">
                                    <label for="w3lSender">Price</label>
                                    <input type="text" name="price" placeholder="" required  class="contact-input">
                                </div>
                                <!-- <div class="col-sm-6 form-input">
                                    <label for="w3lSender">Email(Required)*</label>
                                    <input type="email" name="email" id="w3lSender" required placeholder="" />
                                </div> -->
<!-- 
                                
                                
                                
                                <div class="col-sm-6 form-input">
                                    <label for="w3lSender">Password</label>
                                     <input type="password" name="pass" placeholder="" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" class="contact-input"> 
                                    
                                </div>
                                <div class="col-sm-6 form-input">
                                    <label for="w3lSender">Retype Password</label>
                                    <input type="password" name="pass1" placeholder="" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" class="contact-input">
                                </div>
                                <div class="col-sm-6 form-input">
                                    <label for="w3lSender">Address</label>
                                    <!-- <input type="number" name="w3lPhone" placeholder="" required  class="contact-input"> -->
                                    <!-- <textarea name="add" placeholder="" required class=""></textarea>
                                </div>
                                 -->
                            <!-- </div> -->
                            <!-- <div class="form-input">
                                <label for="w3lMessage">Message(Required)*</label>
                                <textarea placeholder="" name="w3lMessage" id="w3lMessage" required=""></textarea>
                            </div> -->
                            <div class="submit text-right">
                                <button type="submit" class="btn btn-style-white btn-style-primary">Add
                                    </button>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="map mt-5">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11593.270381900502!2d1.625295237146618!3d43.412190703604765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aeec35b22ea25d%3A0xfdeadc6df532d0bf!2sLandon%2C%2031450%20Montesquieu-Lauragais%2C%20France!5e0!3m2!1sen!2sin!4v1611816123801!5m2!1sen!2sin"
                            frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <!-- //contact page -->



    {% if messages %}
    {% for msg in messages %}
    <script>alert('{{msg}}')</script>
    {% endfor %}
    {% endif %}








    

{% endblock %}