{% extends "commonbaseadmin.html" %}
{% block content1 %}





<style>
    th,td{
        padding: 10px;
    }
    table{background-color:rgb(255, 255, 255);}
    </style>
    <center>
    <div style="margin: 122px;">
        <h1 style="color:rgb(255, 81, 0)"">Requests</h1>
        
        <table  border="20" style="margin:50px;"> 
          
            <tr>
                
                <th>SL.No</th>
                <th>CUSTOMER NAME</th>
                <th>REQUEST</th>
                
              
                
                <th>RECOMMENDED HOTEL NAME</th>
             
                
            </tr>
            
                {% for d in data %}
        
            <tr>
                <td>{{d.id}}</td>
                <td>{{d.user.fname}}</td>
                <td>{{d.request}}</td>
                <td>{{d.hotel.name}}</td>
                {% if d.hotel == None %}
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <select name="hotel" style="width:100px;height:50px;text-align: center;border-radius: 1em;font-style: italic;" id="hotel">
                            {% for h in hotels %}
                            <option value="{{h.id}}">{{h.name}}</option>
                            {% endfor %}
                        </select>
                        <input type="text" value="{{d.id}}" name="id" hidden>
                        <input type="submit" value="Add">
                    </form>
                </td>
                {% endif %}
               
            </tr>
            {% endfor %}
            
        </table>
    </div>
</center>








{% endblock %}